VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyBGZr393XbTW4dpHIwcslfI5d2mjzhVeOQ
VITE_FIREBASE_AUTH_DOMAIN=electrishop-80dd6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=electrishop-80dd6
VITE_FIREBASE_STORAGE_BUCKET=electrishop-80dd6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1060879793327
VITE_FIREBASE_APP_ID=1:1060879793327:web:4ca58fff674ef19a2c285a
